@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;  
}

body{
  background-color:#fff9ea;
}

section{
  padding: 28px 8%;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcd45;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow:0px 0px 10px 2px rgba(0,0,0, 0.1);
  cursor: pointer;
  transition: background-color .1s ease;
}

.btn-default:hover{
  background-color: #f8d477;
}

.social-media-buttons{
  display: flex;
  gap: 18px;
}

.social-media-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #fff;
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: #1d1d1d;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1) ;
}
.social-media-buttons a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}



