@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;  
}

body{
  background-color:#fff9ea;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcd45;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background-color .1s ease;
}
.btn-default:hover{
  background-color: #f8d477;
}
